.editorpanel .x-form-type-text {
    margin-top : 4px;
}

.image-ct {
    text-align : center;
}

.editorpanel .profile-image {
    margin-top : 12px;
    padding    : 2px;
    border     : 1px solid lightblue;
    height     : 80px;
}

.sch-valign {
    vertical-align : middle;
}

.delete {
    height          : 12px;
    width           : 12px;
    background      : transparent url(images/cross.png) no-repeat center center;
    cursor          : pointer;
    vertical-align  : middle;
    background-size : contain;
}

.sch-event .sch-event-inner {
    padding-top  : 2px;
    padding-left : 5px;
    line-height  : 1.2em;
    white-space  : nowrap;
}

.sch-event-hover {
    border-color : #999;
}

/*  -----------------------------------
    Styling of the event tooltip 
    ----------------------------------- */

.eventTip {
    padding : 5px;
}

.eventTip dd {
    margin-bottom : 17px;
    white-space   : nowrap;
}

.eventTip dd:last-child {
    margin-bottom : 0px !important;
}

.eventTip dt {
    font-weight : bold;
}



